.cardFlex{
    display: flex;
    gap: 25px;

    
}


.card {
    padding: 20px;
    box-shadow: 1px 1px 10px  1px rgba(83, 82, 82, 0.461);
    transition: 0.3s;
}

.card:hover {
    background-color: var(--purple);
    color: var(--yellow);
}
.card > img{
    width:45px;
    height: 45px;
}
.card > h3 {
    font-size: 25px;
    padding: 10px 0;
}
.card > p {
    font-size: var(--default);
    padding: 2px 0;
}


  /*RESPONSIVENESS*/

  /* For Desktop View */
  @media screen and (min-width: 1083px) {
    
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 908px) {
        .cardFlex {
            flex-wrap: wrap;   
            justify-content: center;
        } 
        .card{
            width: 45%
        }
}
@media screen and (min-device-width: 486px) 
    and (max-device-width: 767px) {
        .cardFlex {
            flex-wrap: wrap;   
            justify-content: center;
        } 
        .card{
            width: 45%
        }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 486px) 
    and (orientation: portrait) {
        .cardFlex {
            flex-wrap: wrap;   
            justify-content: center;
        } 
        .card{
            width: 100%
        }
}

