.header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background: var(--purple);
    /* background: linear-gradient(90deg, rgba(187,127,224,1) 0%, rgba(115,0,255,1) 52%);     */
    padding: 20px 0;
    
}

.navbar{
    display: flex;;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    flex-shrink: 0;
}
.navlist {
    display: flex;
    flex-shrink: 0;
}

.navlist > li {
    display: flex;
}

.navlist > li + li {
    padding-left: 20px;
}
.register {
    display: flex;
    flex-shrink: 0;
}

.register > * {
    display: flex;
}

.register > * + * {
    margin-left: 20px;

}

