.header{
    position: sticky;
    background-color: rgb(115, 0, 255);
    
}

.navbar{
    display: flex;;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    flex-shrink: 0;
}
.navlist {
    display: flex;
    flex-shrink: 0;
}

.navlist > li {
    display: flex;
}

.navlist > li + li {
    padding-left: 20px;
}
.register {
    display: flex;
    flex-shrink: 0;
}

.register > li {
    display: flex;
}

.register > li + li {
    padding-left: 20px;
}