.wrapper{
    margin: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.461);
    padding: 10px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    /* background-color: rgb(249, 240, 255); */
    gap: 20px;

}
.imageWrap{
    border: 1px solid rgba(0, 0, 0, 0.374);
    border-radius: 10px;
    width: 200px;
    height: 150px;
    padding: 5px;
}
.imageWrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productInfo{
    width: 500px;
}

.productInfo h3{
    font-family: "Joti One";
}
.priceFlex {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing{
    font-weight: 500;
}
/* .pricing::before{
    content: "#";
} */
.productQty{
    /* background-color: blue; */
    display: flex;
    gap: 10px;
    align-items: stretch;
    padding: 0 0 10px 0;
}

.productQty > button {
    padding: 0 8px;
}

.removeButton{
    background-color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
}