:root {
    /*COLORS*/

    --purple: #200047;
    --white: #ffffff;
    --yellow: #fcdb06;
    --dark: #1d1b1e;
    --grey: #7b787e;

    /*FONTS*/
    --default: 16px;
    --small: 12px;
    --medium: 40px;
    --large: 55px;
}